
  @media (max-width: 1366px){
    .top{
      &__title{
        font-size: 75px;
        line-height: 90px;
        margin-bottom: 20px;
      }

      &__img{
          width: 80%;
        }

      &__text{
        margin: 15px auto 20px;
      }
    }
  }


  @media (max-width: 1100px){

    .menu {
      order: 1;

      &__list {
        position: fixed;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        background: rgba( #1C1C1C,0.9);
        padding: 90px 24px;
        overflow: auto;
        transform: translateY(-100%);
        transition: transform ease-in-out .5s;

        &--active{
          transform: translateY(0);
        }
      }

      &__list-item + .menu__list-item{
        padding-left: 0;

      }

      &__list-item:nth-child(5){
        padding-bottom: 20px;
      }

      &__list-phone{
        display: block;
        position: relative;
        padding-top: 33px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;

        &::before{
          content: '';
          border-top: 1px solid rgba(#FFFFFF, 0.24);
          position: absolute;
          top: 0;
          right: -24px;
          left: -24px;
        }
      }

      &__btn{
        position: relative;
        display: block;

        &::before,
        &::after {
          content: '';
          height: 2px;
          position: absolute;
          right: 0;
          background: #E0E0E0;
          transition: all ease-in-out .4s;
        }

        &::before{
          width: 24px;
          top: -7px;
        }

        &::after{
          width: 16px;
          top: 7px;
        }

      }

      &__btn-line{
        width: 24px;
        height: 2px;
        background: #E0E0E0;
        display: block;
        opacity: 1;
        transition: opacity ease-in-out .6s;
      }
    }

    .menu__btn.menu__btn--active{

      .menu__btn-line{
        opacity: 0;
        transition: opacity ease-in-out .2s;

      }

      &::after{
        width: 24px;
        transform: rotate(-45deg);
        top: 0;
      }

      &::before{
        transform: rotate(45deg);
        top: 0;
      }



    }

    .header{
      &__phone{
        display: none;
      }
    }

  }

  @media (max-width: 520px){

    .top{

      &.page-section{
        background-position: top left;
      }

      &__title{
        display: none;
      }
      &__text{
        margin: 15px auto 95px;
      }

      &__social-list{
        margin-bottom: 40px;
      }
    }

  }


  @media (max-height: 375px) {

    .menu__list{
      padding-bottom: 45px;
    }
    .menu__list-item + .menu__list-item{
      margin-top: 10px;
    }

    .menu__list-phone{
      padding-top: 12px;
    }
  }



  @media (max-width: 320px){

    &__social-list{
      margin-bottom: 20px;
    }



  }