@import "vars";
@import "libs";
@import "fonts";
@import "global";



// header

.header{
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 100;

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 31px;
    text-transform: uppercase;
    @extend %ubuntu-medium;
  }

  &__phone{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-left: 8px;
  }

  &__btn{
    padding: 7px 28px 6px;
    text-transform: uppercase;
    line-height: 17px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #fff;
    @extend %ubuntu-bold;
    transition: all .3s ease-in-out;

    &:hover{
      color: #1C1C1C;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      background: #fff;
      border-radius: 2px;
    }
  }
}


.menu{
   &__list {
     display: flex;
   }

  &__list-item{
    display: inline-block;

    & + .menu__list-item {
      padding-left: 20px;
    }
  }

  &__list-link{
    line-height: 17px;
  }

}

// top


.top{
  background-image: url('../images/top-bg.jpg');

  &__wrapper{
    display: flex;
    align-items: flex-end;
  }

  &::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
    opacity: 0.4;
  }


  &__inner{
    text-align: center;
  }

  &__title{
    font-size: 96px;
    line-height: 115px;
    @extend %sf-semibold;
    margin: 0 0 25px;
  }

  &__text{
    @extend %ubuntu-light;
    font-size: 17px;
    line-height: 26px;
    margin: 25px auto 35px;
    max-width: 395px;
  }

  &__social-list {
    display: flex;
    justify-content: center;

  }
    &__social-item + &__social-item {
      margin-left: 50px;
    }

  &__social-link{
    opacity: .5;
    transition: all ease-in-out .3s;

    &:hover{
      opacity: 1;
    }
  }

}


// products

.products{
  &__inner{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }

  &__text{
    max-width: 440px;
    p{
      margin-bottom: 30px;
      font-size: 17px;
      line-height: 26px;
    }
  }

  &__slider{
    width: 560px;
    height: 300px;

    &::before{
      content: '';
      position: absolute;
      top: -15px;
      right: -17px;
      width: 560px;
      height: 276px;
      border: 4px solid #FFFFFF;

    }

  }
  &__slider-box{
    position: relative;
    margin-top: 130px;

  }

  &__slider-text{
    @extend %ubuntu-medium;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    max-width: 282px;
    position: absolute;
    bottom: 30px;
    left: -252px;
    z-index: 5;
  }

  &__slider-btn{
    width: 60px;
    height: 50px;
    padding: 16px 26px;
    position: absolute;
    bottom: -50px;
    right: 0;
    background: #fff;
    svg{
      stroke: #000;
    }
    &.slick-disabled{
      background:  #1C1C1C;
      svg{
        stroke: #fff;
      }

    }

  }
}
  .slider-btnLeft{
    right: 60px;
  }


//   benefits

  .benefits{

    &__items{
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      align-items: flex-end;
      margin-left: 30px;

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 105px;
      }

      &:nth-child(3) {
        margin-left: 60px;
      }

      &:nth-child(even) {
        margin-left: 40px;
        transform: translateY(25px);
      }

      &:nth-child(4) {
        margin-left: 60px;
      }

      &:first-child,
      &:nth-child(3) {
        position: relative;

        &::before,
        &::after {
          content: '';
          position: absolute;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: cover;

        }
      }

      &:first-child {

        &::before {
          top: 29px;
          right: -61px;
          height: 45px;
          width: 245px;
          background-image: url('../images/line-1.svg');
        }

      }

      &:nth-child(3) {

        &::before {
          top: -79px;
          right: -61px;
          height: 62px;
          width: 463px;
          background-image: url('../images/line-2.svg');

        }

        &::after {
          height: 39px;
          width: 254px;
          background-image: url('../images/line-3.svg');
          top: 52px;
          right: -61px;
        }

      }
    }

    &__item-num{
      font-size: 36px;
      line-height: 41px;
      @extend %ubuntu-bold;
      margin-right: 8px;
    }

    &__item-img{
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: -12px;
        right: -12px;
        border: 2px solid #FFFFFF;
        width: 195px;
        height: 130px;
        z-index: -5;
      }
    }

    &__item-info{
      margin-left: 32px;
    }

    &__info-title{
      @extend %ubuntu-bold;
      font-size: 21px;
      line-height: 24px;
      margin-bottom: 10px;
      max-width: 123px;
    }
    &__info-text{
      max-width: 300px;

    }
  }

  // specification

  .specification{

    &__item{
      display: flex;
      justify-content: space-between;
      img{
        margin: 0 auto;

      }
      &:nth-child(2){
        margin-top: -50px;
      }

    }

    &__box {
      max-width: 280px;
      position: relative;

      &:nth-child(odd) {
        margin-left: 50px;
      }
      &::before{
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        z-index: 50;
      }
    }

      &__box-1,
      &__box-2{
        margin-top: 30px;
      }

      &__box-1::before{
        background-image: url('../images/pointer-1.svg');
        width: 229px;
        height: 115px;
        top: 17px;
        right: -144px;

      }
      &__box-2::before{
        background-image: url('../images/pointer-3.svg');
        width: 258px;
        height: 105px;
        top: 15px;
        right: 294px;

      }
      &__box-3::before{
        background-image: url('../images/pointer-2.svg');
        width: 346px;
        height: 81px;
        top: -65px;
        right: -275px;
      }
      &__box-4{
        transform: translateY(-22px);
        &::before {

          background-image: url('../images/pointer-4.svg');
          width: 123px;
          height: 89px;
          top: -71px;
          right: 303px;
        }
      }


    &__box-title{
      @extend %ubuntu-bold;
      font-size: 21px;
      line-height: 28px;
      margin-bottom: 10px;
    }
  }

  .questions {

    &__items {
      max-width: 757px;
      position: relative;
    }

    &__item {
      max-width: 690px;
      background: rgba(0, 0, 0, 0.3);
      margin-bottom: 5px;
      position: relative;

      &:nth-child(3)::before{
        content: '';
        position: absolute;
        width: 319px;
        height: 125px;
        top: -8px;
        right: -386px;
        background-image: url("../images/half-mavic.png");
      }
    }

    &__item-title {
      @extend %ubuntu-medium;
      padding: 20px 20px 24px 40px;
      font-size: 21px;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.8);
      position: relative;
      cursor: pointer;

      &::after {
        content: url(../images/arrow-down_2.svg);
        position: absolute;
        right: -67px;
        top: 0;
        width: 67px;
        height: 72px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }

    &__item-text {
      padding: 0 0 0 50px;
      overflow: hidden;
      height: 0;
      transition: all ease-in-out .8s;
    }

    &__item.questions__item--active {

      .questions__item-title::after{
        transform: rotate(180deg);
      }

      .questions__item-text {
        overflow: visible;
        height: auto;
        padding: 0 0 55px 50px;
      }
    }

    //&__img{
    //  position: absolute;
    //  bottom: 26px;
    //  right: -319px;
    //}


  }












  @import "media";
